@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "mixins";
@import "colors";
@import "variables";

@import "components/typography";
@import "components/buttons";

@import "views/header";
@import "views/footer";
@import "views/hero";

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: white;
	-webkit-overflow-scrolling: touch;
}

.wrapper {
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
}
