@import "../mixins";
@import "../colors";

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: white;
	opacity: 0;
	pointer-events: none;
	transition: opacity .6s $smooth;
}

.loading {

	.loader {
		opacity: 1;
	}
}
